//- objectViewer
#objectViewer(data-bs-backdrop="static").modal.fade
    .modal-dialog.modal-lg
        .modal-content
            .modal-body
                .d-flex
                    button(type='button' data-bs-dismiss='modal' aria-label='Close').btn-close.ms-auto
                code
                    pre #{project}
