if (project.projectStatus == 0 )
    .badge.bg-secondary.p-2.text-decoration-none Cancelado
if (project.projectStatus == 10 )
    .badge.bg-warning.text-dark.p-2.text-decoration-none Standby
if (project.projectStatus == 20 )
    .badge.bg-warning.text-dark.p-2.text-decoration-none Pendiente
if (project.projectStatus == 30 )
    .badge.bg-info.text-dark.p-2.text-decoration-none En proceso
if (project.projectStatus == 40 )
    .badge.bg-info.text-dark.p-2.text-decoration-none Finalizado sin PSI \ Fabricación
if (project.projectStatus == 50 )
    .badge.bg-success.p-2.text-decoration-none Finalizado